# API & Server
fastapi
uvicorn[standard]
python-dotenv
pydantic

# LLM
langchain
langchain-groq
langchain-core

# Vector DB & RAG
chromadb
sentence-transformers
torch==2.1.2+cpu --find-links https://download.pytorch.org/whl/torch_stable.html
numpy

# arXiv ingestion
arxiv
pymupdf

# Document parsing
python-docx

# Frontend
streamlit
requests