# API & Server
fastapi
uvicorn[standard]
python-dotenv
pydantic

# LLM
langchain
langchain-groq
langchain-core

# Vector DB & RAG
chromadb
sentence-transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.0+cpu
numpy

# arXiv ingestion
arxiv
pymupdf

# Document parsing
python-docx

# Frontend
streamlit
requests